<div class="card">
    <div class="card-header">
        <a href="{{ ns.contest_url }}">
            <strong>
                {{ _contest.title }}
                {% if show_placement is defined and show_placement and _contest.review_end <= today %}
                (sija {{ _contest.placement }}
                /{{ _contest.total_entries }}, {{ _contest.points }} p.)
                {% if _contest.placement == 1 %}🥇🎉
                {% elif _contest.placement == 2 %}🥈
                {% elif _contest.placement == 3 %}🥉
                {% endif %}
                {% endif %}
            </strong>
        </a>
    </div>
    <div class="entry-preview">
        {{ _contest.short_description }}
    </div>
    {% if _contest.entry_text %}
    <div class="entry-user-text" style="margin-top:0.5em;">
        {% if _contest.entry_text|length > 255 %}
        {{ _contest.entry_text[:255] | richtext }}...
        <a href="{{ url_for('entries.entry', entry_id=_contest.entry_id, source='my_texts') }}" class="read-full-text">Lue koko teksti &raquo;</a>
        {% else %}
        {{ _contest.entry_text | richtext }}
        {% endif %}
    </div>
    {% endif %}
    <div style="margin-top:0.5em;">
        <em>
            {{ _phase_text }}
        </em>
    </div>
    <div style="margin-top:0.5em;">
        <span class="pill-tag">
            {{ _contest.class_value }}
        </span>
        <span class="pill-tag">
            {% if _contest.anonymity %}Anonyymi arviointi{% else %}Ei-anonyymi arviointi{% endif %}
        </span>
        <span class="pill-tag">
            {% if _contest.public_reviews %}Julkinen arviointi{% else %}Ei-julkinen arviointi{% endif %}
        </span>
        <span class="pill-tag">
            {% if _contest.public_results %}Tulokset julkisia{% else %}Tulokset ei-julkisia{% endif %}
        </span>
    </div>
    {% if _contest.entry_text and _contest.collection_end > today %}
    <div style="margin-top:0.5em; text-align: right;">
        <form action="{{ url_for('entries.edit_entry', entry_id=_contest.entry_id) }}" method="get" style="display:inline;">
            <input type="hidden" name="source" value="my_texts">
            <button type="submit" class="btn btn-small">Muokkaa</button>
        </form>
        <form action="{{ url_for('entries.delete_entry', entry_id=_contest.entry_id) }}" method="post" style="display:inline;">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <button type="submit" class="btn btn-small" onclick="return confirm('Haluatko varmasti poistaa tekstin?')">Poista</button>
        </form>
    </div>
    {% endif %}
</div>