<div class="review-card">
    <div class="review-card-header">
        <a href="{{ ns.contest_url }}">
            <strong>
                {{ _contest.title }}
                {% if show_placement is defined and show_placement and _contest.review_end <= today %}
                    (sija {{ _contest.placement }}/{{ _contest.total_entries }}, {{ _contest.points }} p.)
                {% endif %}
            </strong>
        </a>
    </div>
    <div class="entry-preview">
        {{ _contest.short_description }}
    </div>
    {# Show entry text if present (for my_texts.html) #}
    {% if _contest.entry_text %}
    <div class="entry-user-text" style="margin-top:0.5em;">
        {% if _contest.entry_text|length > 255 %}
        {{ _contest.entry_text[:255] | richtext }}...
        <a href="{{ url_for('entry', entry_id=_contest.entry_id, source='my_texts') }}" class="read-full-text">(Lue koko
            teksti)</a>
        {% else %}
        {{ _contest.entry_text | richtext }}
        {% endif %}
    </div>
    {% endif %}
    <div style="margin-top:0.5em;">
        <span class="pill-tag">
            {{ _contest.class_value }}
        </span>
        <span class="pill-tag">
            {% if _contest.anonymity %}Anonyymi arviointi{% else %}Avoin arviointi{% endif %}
        </span>
        <span class="pill-tag">
            {% if _contest.public_reviews %}Arviot julkisia{% else %}Arviot yksityisiä{% endif %}
        </span>
        <span class="pill-tag">
            {% if _contest.public_results %}Julkiset tulokset{% else %}Yksityiset tulokset{% endif %}
        </span>
    </div>
    <div style="margin-top:0.5em;">
        <em>
            {{ _phase_text }}
        </em>
    </div>
</div>