{% if total_pages > 1 %}
<nav class="pagination" aria-label="Sivutus" style="margin-top: 1rem;">
    <ul class="pagination-list">
        {% set extra_params = "" %}
        {% if user_search %}
        {% set extra_params = extra_params + "&user_search=" + user_search|urlencode %}
        {% endif %}
        {% if selected_contest_id %}
        {% set extra_params = extra_params + "&contest_id=" + selected_contest_id|string %}
        {% endif %}
        {% if title_search %}
        {% set extra_params = extra_params + "&title_search=" + title_search|urlencode %}
        {% endif %}
        {% if name_search %}
        {% set extra_params = extra_params + "&name_search=" + name_search|urlencode %}
        {% endif %}
        {% if username_search %}
        {% set extra_params = extra_params + "&username_search=" + username_search|urlencode %}
        {% endif %}
        {% if super_user %}
        {% set extra_params = extra_params + "&super_user=" + super_user %}
        {% endif %}
        {% if page > 1 %}
        <li>
            <a href="{{ base_url }}{{ page - 1 }}{{ extra_params }}" class="pagination-link">Edellinen</a>
        </li>
        {% endif %}
        <li><span class="pagination-current">Sivu {{ page }}</span></li>
        {% if page < total_pages %} <li>
            <a href="{{ base_url }}{{ page + 1 }}{{ extra_params }}" class="pagination-link">Seuraava</a>
            </li>
            {% endif %}
    </ul>
</nav>
{% endif %}