{% extends "base.html" %}
{% block title %}Ylläpito: Kilpailujen hallinta – {{ SITE_TITLE }}{% endblock %}
{% block content %}
<h1>Hallinnoi kilpailuja</h1>
<a href="{{ url_for('admin.new_contest') }}" class="btn btn-secondary btn-small"
    style="display:inline-block; margin-bottom: 1rem;">
    Luo uusi kilpailu
</a>
<table class="admin-table">
    <thead>
        <tr>
            <th scope="col" class="td-left">Otsikko</th>
            <th scope="col" class="td-right">Keräys</th>
            <th scope="col" class="td-right">Arviointi</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for c in contests %}
        <tr>
            <td>
                <a href="{{ url_for('main.contest', contest_id=c.id) }}" title="{{ c.title }}">
                    {% if c.title|length > 33 %}
                    {{ c.title[:25] }}...{{ c.title[-5:] }}
                    {% else %}
                    {{ c.title }}
                    {% endif %}
                </a>
            </td>
            <td class="td-right">{{ c.collection_end | format_date }}</td>
            <td class="td-right">{{ c.review_end | format_date }}</td>
            <td class="td-right">
                <button type="button" class="btn btn-secondary btn-small"
                    onclick="window.location.href='{{ url_for('admin.edit_contest', contest_id=c.id) }}'"
                    aria-label="Muokkaa kilpailua {{ c.title }}">
                    Muokkaa
                </button>
                <form action="{{ url_for('admin.delete_contest', contest_id=c.id) }}" method="post" style="display:inline;">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <button type="submit" class="btn btn-secondary btn-small"
                        onclick="return confirm('Poistetaanko kilpailu?')" aria-label="Poista kilpailu {{ c.title }}">
                        Poista
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "partials/_pagination.html" %}
{% endblock %}