{% extends "base.html" %}
{% block title %}Ylläpito: Muokkaa kilpailua – {{ contest.title }} – {{ SITE_TITLE }}{% endblock %}
{% block content %}
<form action="{{ url_for('admin.update_contest', contest_id=contest.id) }}" method="post" class="form-box">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <h1>Muokkaa kilpailua</h1>
    <p>
        <label for="title">Otsikko:</label>
        <input type="text" name="title" id="title" maxlength="{{ TITLE_MAX_LENGTH }}" required
            value="{{ contest.title }}">
    </p>
    <p>
        <label for="class_id">Laji:</label>
        <select name="class_id" id="class_id" required>
            <option value="" disabled hidden>Valitse kirjallisuuslaji</option>
            {% for cl in classes %}
            <option value="{{ cl.id }}" {% if cl.id==contest.class_id | int %}selected{% endif %}>
                {{ cl.value }}
            </option>
            {% endfor %}
        </select>
    </p>
    <p>
        <label for="short_description">Lyhyt kuvaus:</label>
        <input type="text" name="short_description" id="short_description"
            maxlength="{{ SHORT_DESCRIPTION_MAX_LENGTH }}" value="{{ contest.short_description }}" required>
    </p>
    <p>
        <label for="long_description">Pitkä kuvaus:</label>
        <textarea name="long_description" id="long_description" rows="10" maxlength="{{ LONG_DESCRIPTION_MAX_LENGTH }}"
            required>{{ contest.long_description }}</textarea>
    </p>
    <fieldset>
        <legend class="sr-only">Kilpailun asetukset</legend>
        <p>
            <label>
                <input type="checkbox" name="anonymity" class="large-checkbox" {% if contest.anonymity %}checked{% endif
                    %}>
                Anonyymi arviointi: kirjoittaja ei ole tunnistettavissa
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" name="public_reviews" class="large-checkbox" {% if contest.public_reviews
                    %}checked{% endif %}>
                Avoin arviointi: kaikki saavat arvioida kilpailutöitä
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" name="public_results" class="large-checkbox" {% if contest.public_results
                    %}checked{% endif %}>
                Tulokset julkisia: kaikki näkevät kilpailun tulokset
            </label>
        </p>
    </fieldset>
    <p>
        <label for="collection_end">Jättöaika päättyy:</label>
        <input type="date" name="collection_end" id="collection_end" required value="{{ contest.collection_end }}">
    </p>
    <p>
        <label for="review_end">Arviointiaika päättyy:</label>
        <input type="date" name="review_end" id="review_end" required value="{{ contest.review_end }}">
    </p>
    {% if contest.private_key %}
    <p>
        <label for="review_link">Linkki arviointiin:</label>
        <input type="text" id="review_link"
            value="{{ url_for('entries.review', contest_id=contest.id, key=contest.private_key, _external=True) }}"
            readonly style="width:100%">
        <small>Jaa tämä linkki arvioijille, jos arviointi ei ole julkinen.</small>
    </p>
    <p>
        <label for="result_link">Linkki tulossivuun:</label>
        <input type="text" id="result_link"
            value="{{ url_for('main.result', contest_id=contest.id, key=contest.private_key, _external=True) }}"
            readonly style="width:100%">
        <small>Jaa tämä linkki niille, joiden haluat näkevän tulokset, jos tulokset eivät ole julkisia.</small>
    </p>
    {% endif %}
    <p>
        <button type="submit" class="btn btn-primary" aria-label="Tallenna muutokset kilpailuun">
            Tallenna muutokset
        </button>
    </p>
</form>
{% endblock %}