{% extends "base.html" %}
{% block title %}Ylläpito: Uusi kilpailu – {{ site_name }}{% endblock %}
{% block content %}
<form action="{{ url_for('admin.create_contest') }}" method="post" class="form-box">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <h1>Luo uusi kilpailu</h1>
    <p>
        <label for="title">Otsikko:</label>
        <input type="text" name="title" id="title" minlength="{{ TITLE_MAX_LENGTH }}" required>
    </p>
    <p>
        <label for="class_id">Laji:</label>
        <select name="class_id" id="class_id" class="medium" required>
            <option value="" disabled selected hidden>Valitse kirjallisuuslaji</option>
            {% for cl in classes %}
            <option value="{{ cl.id }}">{{ cl.value }}</option>
            {% endfor %}
        </select>
    </p>
    <p>
        <label for="short_description">Lyhyt kuvaus:</label>
        <input type="text" name="short_description" id="short_description" minlength="{{ SHORT_DESCRIPTION_MAX_LENGTH }}" required>
    </p>
    <p>
        <label for="long_description">Pitkä kuvaus:</label>
        <textarea name="long_description" id="long_description" rows="15" minlength="{{ LONG_DESCRIPTION_MAX_LENGTH }}" required></textarea>
    </p>
    <fieldset style="margin-top: 1rem;">
        <legend class="visually-hidden">Asetukset</legend>
        <label>
            <input type="checkbox" name="anonymity" class="large-checkbox" aria-label="Anonyymi arviointi">
            Anonyymi arviointi: kirjoittaja ei ole tunnistettavissa
        </label>
        <label>
            <input type="checkbox" name="public_reviews" class="large-checkbox" aria-label="Arviot ovat julkisia">
            Avoin arviointi: kaikki saavat arvioida kilpailutöitä
        </label>
        <label>
            <input type="checkbox" name="public_results" class="large-checkbox" aria-label="Tulokset ovat julkisia">
            Tulokset julkisia: kaikki näkevät kilpailun tulokset 
        </label>
    </fieldset>
    <p>
        <label for="collection_end">Jättöaika päättyy:</label>
        <input type="date" name="collection_end" id="collection_end" required>
    </p>
    <p>
        <label for="review_end">Arviointiaika päättyy:</label>
        <input type="date" name="review_end" id="review_end" required>
    </p>
    <button type="submit" class="btn btn-primary">Luo kilpailu</button>
</form>
{% endblock %}