<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Kirjoituskilpailut{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
  <div class="page-wrapper">
    
    <div class="logo-bar">
      <div class="container">
        Kirjoituskilpailut
      </div>
    </div>

    <nav>
    <div class="container">
        <ul class="nav">
        <li class="{% if request.path == '/' %}active{% endif %}">
            <a href="/">Kirjaudu</a>
        </li>
        <li class="{% if request.path.startswith('/contests') %}active{% endif %}">
            <a href="/contests">Kilpailut</a>
        </li>
        <li class="{% if request.path.startswith('/results') %}active{% endif %}">
            <a href="/results">Tulokset</a>
        </li>
        <li class="{% if request.path.startswith('/my_texts') %}active{% endif %}">
            <a href="/my_texts">Omat tekstit</a>
        </li>
        <li class="{% if request.path.startswith('/terms_of_use') %}active{% endif %}">
            <a href="/terms_of_use">Käyttöehdot</a>
        </li>
        </ul>
    </div>
    </nav>

    <main class="content-box container">
        {% block content %}{% endblock %}
    </main>
    <footer>
      <div class="container">
        <p>&copy; 2025 Janne Tompuri</p>
      </div>
    </footer>
  </div>
</body>
</html>