{% extends "base.html" %}
{% block title %}
{% if not entry.anonymity or entry.review_end <= now %}
    {{ entry.author_name }}{% if entry.points is defined %} ({{ entry.points }} p.){% endif %} – {{ entry.contest_title }} – {{ site_name }}
{% else %}
    {{ entry.class_value }} {{ idx }} – {{ entry.contest_title }} – {{ site_name }}
{% endif %}
{% endblock %}
{% block content %}
<h1>{{ entry.contest_title }}</h1>
{% if not entry.anonymity or entry.review_end <= now %} <h2>{{ entry.author_name }}{% if entry.points is defined %} ({{
    entry.points }} p.){% endif %}</h2>
    {% else %}
    <h2>{{ entry.class_value }} {{ idx }}</h2>
    {% endif %}
    {{ entry.entry | richtext }}
    <div class="btn-row">
        <form action="{{ request.referrer or url_for('results') }}" method="get">
            <button type="submit" class="btn btn-primary">
                Takaisin
            </button>
        </form>
    </div>
    {% endblock %}