{% extends "base.html" %}

{% block title %}Etusivu{% endblock %}

{% block content %}
    <h1>Tervetuloa!</h1>
    <p>Kirjoitatko runoja, aforismeja tai lyhyttä proosaa? Tutustu käynnissä oleviin kirjoituskilpailuihin ja osallistu! Aloita tutustumalla päättyneiden kilpailujen tuloksiin. <a href="/register"></href>Rekisteröidy</a> ja <a href="/login">kirjaudu sisään</a> osallistuaksesi kilpailuun.</p>

    <h2>Osallistu käynnissä olevaan kilpailuun</h2>

    <ul class="contest-list">
        <li>
            <div class="contest-header">
                <em><a href="#">Kevään runokilpailu</a></em>
                <span class="contest-deadline">päättyy 4.6.2025</span>
            </div>
            Tähän tulee kevään runokilpailun lyhyt kuvaus. Kilpailun yksityiskohtaiset säännöt on kilpailun esittelysivulle.
        </li>
    </ul>

    <h2>Vertaisarvioi kilpailuun tulleita tekstejä</h2>

    <ul class="contest-list">
        <li>
            <div class="contest-header">
                <em><a href="#">Kevään runokilpailu</a></em>
                <span class="contest-deadline">päättyy 4.6.2025</span>
            </div>
            Tähän tulee kevään runokilpailun lyhyt kuvaus. Kilpailun yksityiskohtaiset säännöt on kilpailun esittelysivulle.
        </li>
    </ul>

    <h2>Tutustu päättyneiden kilpailujen tuloksiin</h2>

      <ul class="contest-list">
          <li>
              <div class="contest-header">
                  <em><a href="#">Kevään aforismikilpailu</a></em>
                  <span class="contest-deadline">päättyi 14.6.2024</span>
              </div>
              Tähän tulee kevään aforismikilpailun lyhyt kuvaus. Kilpailun yksityiskohtaiset säännöt on kilpailun esittelysivulle.
          </li>
          <li>
            <div class="contest-header">
                <em><a href="#">Kevään runokilpailu</a></em>
                <span class="contest-deadline">päättyy 4.6.2025</span>
            </div>
            Tähän tulee kevään runokilpailun lyhyt kuvaus. Kilpailun yksityiskohtaiset säännöt on kilpailun esittelysivulle.
        </li>
    </ul>
    </ul>


{% endblock %}