{% extends "base.html" %}

{% block title %}Etusivu{% endblock %}

{% block content %}
    <h1>Tervetuloa!</h1>
    <p>Kirjoitatko runoja, aforismeja tai lyhyttä proosaa? Tutustu käynnissä oleviin kirjoituskilpailuihin ja osallistu! Aloita tutustumalla päättyneiden kilpailujen tuloksiin. <a href="/register"></href>Rekisteröidy</a> ja <a href="/login">kirjaudu sisään</a> osallistuaksesi.</p>

    {% if contests_for_entry %}
    <h2>Osallistu käynnissä olevaan kilpailuun</h2>

    <ul class="contest-list">
      {% for contest in contests_for_entry %}
        <li>
          <div class="contest-header">
            <em>
              <a href="{{ url_for('contest', contest_id=contest.id) }}">{{ contest.title }}</a>
            </em>
            <span class="contest-deadline">
              päättyy {{ contest.collection_end | format_date }}
            </span>
          </div>
          {{ contest.short_description }}
        </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if contests_for_review %}
    <h2>Vertaisarvioi kilpailuun tulleita tekstejä</h2>

    <ul class="contest-list">
      {% for contest in contests_for_review %}
        <li>
          <div class="contest-header">
            <em>
              <a href="{{ url_for('contest', contest_id=contest.id) }}">{{ contest.title }}</a>
            </em>
            <span class="contest-deadline">
              päättyy {{ contest.review_end | format_date }}
            </span>
          </div>
          {{ contest.short_description }}
        </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if contests_for_results %}
    <h2>Tutustu päättyneiden kilpailujen tuloksiin</h2>

    <ul class="contest-list">
      {% for contest in contests_for_results %}
        <li>
          <div class="contest-header">
            <em>
              <a href="{{ url_for('contest', contest_id=contest.id) }}">{{ contest.title }}</a>
            </em>
            <span class="contest-deadline">
              päättyi {{ contest.review_end | format_date }}
            </span>
          </div>
          {{ contest.short_description }}
        </li>
      {% endfor %}
    </ul>
    {% endif %}

{% endblock %}