{% extends "base.html" %}

{% block title %}Kirjaudu{% endblock %}

{% block content %}

    <form action="/login" method="post">

    <h1>Kirjaudu sisään</h1>

    <p>Kirjaudu sisään tai <a href="/register">rekisteröidy</a>, jos sinulla ei ole tunnusta.</p>

    {% for message in get_flashed_messages() %}
    <div class="flash-message">
        {{ message }}
    </div>
    {% endfor %}
    
    <p>
        <label for="username">Sähköposti:</label>
        <input type="text" name="username" id="username" value="{{ session.get('form_data', {}).get('username', '') }}" maxlength="50" required />
    </p>
    <p>
        <label for="password1">Salasana:</label>
        <input type="password" name="password" id="password" maxlength="50" required />
    </p>
    {% if next_page %}
    <input type="hidden" name="next_page" value="{{ next_page }}" />
    {% else %}
    <input type="hidden" name="next_page" value="/" />
  {% endif %}
    <input type="submit" value="Kirjaudu" />
    </form>
{% endblock %}