{% extends "base.html" %}
{% block title %}Kirjaudu{% endblock %}
{% block content %}
<form action="{{ url_for('auth.login') }}" method="post" class="form-box" aria-labelledby="login-heading">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <h1 id="login-heading">Kirjaudu sisään</h1>
    <p>
        Kirjaudu sisään tai
        <a href="{{ url_for('auth.register') }}">rekisteröidy</a>, jos sinulla ei ole tunnusta.
    </p>
    <p>
        <label for="username">Sähköposti:</label>
        <input type="text" name="username" class="input-chars-40" id="username" value="{{ username or '' }}"
            maxlength="{{ FIELD_MAX_LENGTH }}" required autocomplete="username">
    </p>
    <p>
        <label for="password">Salasana:</label>
        <input type="password" name="password" class="input-chars-30" id="password" maxlength="{{ FIELD_MAX_LENGTH }}"
            required autocomplete="current-password">
    </p>
    <input type="hidden" name="next_page" value="{{ next_page or '/' }}">
    <p>
        <button type="submit" class="btn btn-primary">Kirjaudu</button>
    </p>
</form>
{% endblock %}